@charset "UTF-8";

style{
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
}

body {
    background-color:rgb(245, 243, 241);
    font-family: Arial, sans-serif;
    text-align: center;
}

.boanova{
    text-align: center;
    
}

.selcprodutos{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} 

.horario{
    font-weight: bold;
}

h1 {
    color: rgb(0, 0, 0);
}

nav{
    text-align: center;
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
 nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0.4px;
    line-height: 24.5px;
    transition-duration: .5s;
 }

 .produtos{
    text-align: left;
 }